In [247]:
import pandas as pd
import numpy as np

Upload temperature Data to temp DF a, convert dates, change colun headers, check results

In [248]:
a = pd.read_csv("hr_temp_20170201-20200131_subset.csv", usecols=[1,4])

In [249]:
a.columns=['date','temp']

In [250]:
a['date'] = pd.to_datetime(a['date'],format="%Y-%m-%dT%H")
a=a.assign(date=a.date.dt.round('H'))

In [251]:
a.dtypes
print(a.head(10))

                 date  temp
0 2017-02-01 01:00:00  37.0
1 2017-02-01 02:00:00  37.0
2 2017-02-01 03:00:00  36.0
3 2017-02-01 04:00:00  36.0
4 2017-02-01 05:00:00  36.0
5 2017-02-01 06:00:00  36.0
6 2017-02-01 07:00:00  34.0
7 2017-02-01 08:00:00  33.0
8 2017-02-01 09:00:00  34.0
9 2017-02-01 10:00:00  35.0

In [252]:
print(a.head(5))

                 date  temp
0 2017-02-01 01:00:00  37.0
1 2017-02-01 02:00:00  37.0
2 2017-02-01 03:00:00  36.0
3 2017-02-01 04:00:00  36.0
4 2017-02-01 05:00:00  36.0

Upload power Data to temp DF b, convert dates, change colun headerspower

In [253]:
b = pd.read_csv("hrl_load_metered - 20170201-20200131.csv", usecols=[1,6])

In [254]:
b.columns=['date','mw'] 
print(b.head(5))

            date        mw
0  2/1/2017 0:00  1419.881
1  2/1/2017 1:00  1379.505
2  2/1/2017 2:00  1366.106
3  2/1/2017 3:00  1364.453
4  2/1/2017 4:00  1391.265

In [255]:
b['date'] = pd.to_datetime(b['date'],format="%m/%d/%Y %H:%M")

In [256]:
b.dtypes
print(b.head(5))

                 date        mw
0 2017-02-01 00:00:00  1419.881
1 2017-02-01 01:00:00  1379.505
2 2017-02-01 02:00:00  1366.106
3 2017-02-01 03:00:00  1364.453
4 2017-02-01 04:00:00  1391.265

Join a:b using datetime column date

In [257]:
d= pd.merge( b ,a, on = ['date'], how='outer')
print(d.head(10))
print(d.tail(10))
c.dtypesprint(d.head(10))

                 date        mw  temp
0 2017-02-01 00:00:00  1419.881   NaN
1 2017-02-01 01:00:00  1379.505  37.0
2 2017-02-01 02:00:00  1366.106  37.0
3 2017-02-01 03:00:00  1364.453  36.0
4 2017-02-01 04:00:00  1391.265  36.0
5 2017-02-01 05:00:00  1477.343  36.0
6 2017-02-01 06:00:00  1585.252  36.0
7 2017-02-01 07:00:00  1671.412  34.0
8 2017-02-01 08:00:00  1708.597  33.0
9 2017-02-01 09:00:00  1713.813  34.0
                     date        mw  temp
26274 2020-01-31 18:00:00  1645.181  35.0
26275 2020-01-31 19:00:00  1618.484  34.0
26276 2020-01-31 20:00:00  1580.925  34.0
26277 2020-01-31 21:00:00  1545.354  33.0
26278 2020-01-31 22:00:00  1478.832  33.0
26279 2020-01-31 23:00:00  1405.188  33.0
26280 2017-03-12 02:00:00       NaN  17.0
26281 2018-03-11 02:00:00       NaN  24.0
26282 2019-03-10 02:00:00       NaN  45.0
26283 2020-02-01 00:00:00       NaN  34.0

AttributeError: 'DataFrame' object has no attribute 'dtypesprint'

add date time columns

In [258]:
d['hour']= d['date'].dt.hour
d['day']= d['date'].dt.day
d['month']= d['date'].dt.month
d['year']= d['date'].dt.year
print(d.head(5))

                 date        mw  temp  hour  day  month  year
0 2017-02-01 00:00:00  1419.881   NaN     0    1      2  2017
1 2017-02-01 01:00:00  1379.505  37.0     1    1      2  2017
2 2017-02-01 02:00:00  1366.106  37.0     2    1      2  2017
3 2017-02-01 03:00:00  1364.453  36.0     3    1      2  2017
4 2017-02-01 04:00:00  1391.265  36.0     4    1      2  2017

In [259]:
d=d.set_index('date')

In [260]:
print(d.head(5))

                           mw  temp  hour  day  month  year
date
2017-02-01 00:00:00  1419.881   NaN     0    1      2  2017
2017-02-01 01:00:00  1379.505  37.0     1    1      2  2017
2017-02-01 02:00:00  1366.106  37.0     2    1      2  2017
2017-02-01 03:00:00  1364.453  36.0     3    1      2  2017
2017-02-01 04:00:00  1391.265  36.0     4    1      2  2017

Check for temp=nan  then Interpolate missing values

In [261]:
d[d['temp'].isna()]

                           mw  temp  hour  day  month  year
date
2017-02-01 00:00:00  1419.881   NaN     0    1      2  2017
2018-10-25 13:00:00  1569.389   NaN    13   25     10  2018
2018-12-25 03:00:00  1263.540   NaN     3   25     12  2018
2018-12-25 04:00:00  1271.892   NaN     4   25     12  2018
2018-12-25 05:00:00  1304.021   NaN     5   25     12  2018
2018-12-25 06:00:00  1340.344   NaN     6   25     12  2018
2018-12-25 07:00:00  1380.992   NaN     7   25     12  2018
2018-12-25 08:00:00  1395.445   NaN     8   25     12  2018
2018-12-25 09:00:00  1422.708   NaN     9   25     12  2018
2018-12-25 10:00:00  1438.822   NaN    10   25     12  2018
2018-12-25 11:00:00  1413.274   NaN    11   25     12  2018
2018-12-25 12:00:00  1394.176   NaN    12   25     12  2018
2018-12-25 13:00:00  1375.023   NaN    13   25     12  2018
2018-12-25 14:00:00  1354.344   NaN    14   25     12  2018
2018-12-25 15:00:00  1348.573   NaN    15   25     12  2018
2018-12-25 16:00:00  1379.544   NaN    16   25     12  2018
2018-12-25 17:00:00  1455.665   NaN    17   25     12  2018
2018-12-25 18:00:00  1462.390   NaN    18   25     12  2018
2018-12-25 19:00:00  1462.030   NaN    19   25     12  2018
2018-12-25 20:00:00  1461.466   NaN    20   25     12  2018
2018-12-25 21:00:00  1448.051   NaN    21   25     12  2018
2018-12-25 22:00:00  1406.473   NaN    22   25     12  2018
2018-12-25 23:00:00  1345.258   NaN    23   25     12  2018
2018-12-26 00:00:00  1301.272   NaN     0   26     12  2018
2018-12-26 01:00:00  1267.715   NaN     1   26     12  2018
2018-12-26 02:00:00  1264.119   NaN     2   26     12  2018
2018-12-26 03:00:00  1259.701   NaN     3   26     12  2018
2018-12-26 04:00:00  1279.052   NaN     4   26     12  2018
2018-12-26 05:00:00  1332.444   NaN     5   26     12  2018
2018-12-26 06:00:00  1422.136   NaN     6   26     12  2018
2018-12-26 09:00:00  1558.543   NaN     9   26     12  2018
2018-12-26 10:00:00  1564.532   NaN    10   26     12  2018
2018-12-26 11:00:00  1543.588   NaN    11   26     12  2018
2018-12-26 12:00:00  1530.271   NaN    12   26     12  2018
2019-05-26 02:00:00  1216.115   NaN     2   26      5  2019
2019-05-26 03:00:00  1174.187   NaN     3   26      5  2019
2019-05-26 04:00:00  1161.376   NaN     4   26      5  2019
2019-05-26 08:00:00  1330.041   NaN     8   26      5  2019

In [262]:
d=d.interpolate(method='linear',limit_direction = 'forward')

Create training and testing data :  train  test

In [263]:
print(len(d.index))
print(d.year.unique())
train = d[d.year != 2020]
print(len(train.index))
test  = d[d.year == 2020]
print(len(test.index))
print(train.head(10))
print(test.head(10))

26284
[2017 2018 2019 2020]
25539
745
                           mw  temp  hour  day  month  year
date
2017-02-01 00:00:00  1419.881   NaN     0    1      2  2017
2017-02-01 01:00:00  1379.505  37.0     1    1      2  2017
2017-02-01 02:00:00  1366.106  37.0     2    1      2  2017
2017-02-01 03:00:00  1364.453  36.0     3    1      2  2017
2017-02-01 04:00:00  1391.265  36.0     4    1      2  2017
2017-02-01 05:00:00  1477.343  36.0     5    1      2  2017
2017-02-01 06:00:00  1585.252  36.0     6    1      2  2017
2017-02-01 07:00:00  1671.412  34.0     7    1      2  2017
2017-02-01 08:00:00  1708.597  33.0     8    1      2  2017
2017-02-01 09:00:00  1713.813  34.0     9    1      2  2017
                           mw  temp  hour  day  month  year
date
2020-01-01 00:00:00  1363.428  30.0     0    1      1  2020
2020-01-01 01:00:00  1335.975  31.0     1    1      1  2020
2020-01-01 02:00:00  1296.817  29.0     2    1      1  2020
2020-01-01 03:00:00  1288.403  30.0     3    1      1  2020
2020-01-01 04:00:00  1292.263  30.0     4    1      1  2020
2020-01-01 05:00:00  1318.124  31.0     5    1      1  2020
2020-01-01 06:00:00  1342.334  31.0     6    1      1  2020
2020-01-01 07:00:00  1365.210  31.0     7    1      1  2020
2020-01-01 08:00:00  1385.602  30.0     8    1      1  2020
2020-01-01 09:00:00  1413.973  31.0     9    1      1  2020